{{#layout-main as |section|}}

  {{#if (eq section 'sidebar')}}



  {{else if (eq section 'content')}}

    {{#ember-markdown-section class="md-padding"}}
Привет! Я занимаюсь изготовлением многоигровых картриджей для Dendy/Famicom на заказ. Вы можете сами выбрать игры, которые хотите видеть на таком картридже. Это полностью авторская разработка, с соблюдением всех норм. Поддержка игр не стопроцентная, но весьма высокая. Сохранения в играх, которые это поддерживают, работают без проблем и не конфликтуют между собой.

<div style="text-align: center;">
  <p>
    <img src="http://coolgirl.clusterrr.com/coolboy_menu.gif">
  </p>
  <p>
    <img src="http://coolgirl.clusterrr.com/coolgirl1.jpg" style="height: 400px;">
    <img src="http://coolgirl.clusterrr.com/coolgirl2.jpg" style="height: 400px;">
  </p>


  <p>
    Видео о создании картриджа:
  </p>

  <iframe width="560" height="315" src="https://www.youtube.com/embed/VihgDVlgBY0" frameborder="0" allowfullscreen style="display: inline-block;"></iframe>
</div>

Стоимость: **3000 рублей за версию на 64 мегабайта** (более 300 крупных игр). Значительно дороже китайских картриджей, но и гораздо дешевле флеш-картриджей. При этом это отечественное производство и ручная работа. Будет версия и на 128 мегабайт, но это скорее излишне.

Наличие: в данный момент картриджей (точнее деталей) <span style="color: red; font-weight: bold;">нет в наличии</span>, ожидаемые сроки поставки - первая половина апреля 2016 года. Но если хочется сделать заказ, лучше написать мне об этом заранее и записаться в очередь.

**Для выбора игр** можно воспользоваться таблицей, которая расположена чуть ниже. Можно просто отметить галочками нужные и посмотреть, сколько __примерно__ они будут занимать места на картридже. Обратите внимание, что выбранные игры сохраняются в адресной строке браузера. Соответственно вы можете сохранить список, просто скопировав ссылку на страницу. Аналогично через ссылку можно прислать список мне, чтобы я рассмотрел его подробнее и сделал вывод о технической возможности записать выбранные игры.

**Про совместимость с играми**. В картриджах встречалось самое разное железо (мапперы). Этот картридж может имитировать работу сразу нескольких мапперов, но не всех сразу. В него можно прошить или много простеньких мапперов, или мало сложных. Иногда игры используют не все возможности железа, и за счёт этого можно сэкономить. Иногда под одним номером маппера может числиться сразу несколько вариантов аппаратной начинки. Так что всё это планируется индивидуально, спрашивайте. Все игры представленные ниже можно записать по отдельности, но иногда бывает, что некоторые из них нельзя записать одновременно.

По умолчанию в списке выбраны самые популярные игры, преимущественно русские версии. Можете взять эту подборку за основу.

Если какой-то игры (или перевода, хака, патча) нет в списке, спрашивайте, и я я добавлю её при наличии технической возможности. Если в списке есть какая-то игра, то хаки/переводы на неё тоже будут работать, и их можно смело присылать.

Игры работают нативно, без каких-либо модификаций. За редкими исключениями. Например, некоторые NES-игры нуждаются в лёгкой доработке, чтобы корректно работать на фамикоме/денди.

Внешний вид меню можно немного изменить по желанию, в рамках разумного (бесплатно). Например, поменять картинку сверху. Меню можно будет потестировать на эмуляторе. Увы, эмулятора для полноценного рома с играми пока нет.

Картридж работает **на всех консолях** от оригинальных фамикомов до новодельных фамиклонов. Само собой, на клонах будут точно такие же проблемы, как и на оригинальных картриджах (скорость, сжатая картинка и т.п.). Совместимость с портативными консолями на батарейках пока не подтверждена.

Картинок-наклеек на картридж пока что нет - рисовать не умею :) Корпуса есть.

Картридж высылается почтой, первым классом (при наличии возможности), сразу же даётся трек-номер. Оплата через QIWI, Яндекс.Деньги, PayPal или WebMoney - как вам удобнее.
Связаться со мной можно, например, через [вконтакт](https://vk.com/clusterm) (лучший вариант),
по e-mail: clusterrr@clusterrr.com
или одним из способов описанных здесь: http://clusterrr.com.

И если можно, обращайтесь сразу на "ты".  :)

P.S. хочется обратить ваше внимание на то, что **я против пиратства**. Абсолютно всё, что вы здесь видите, сделано с помощью лицензионного или бесплатного ПО, украл я только фоновую картинку для этой странички. Но давайте будем честны - этим играм уже много лет, и за продажу их NES-версий ни разработчики, ни издатели денег уже в любом случае не получат. Так что от моих действий никто не страдает. Если же вы правообладатель на какой-то из этих ромов, и против его появления на картриджах, свяжитесь со мной, и мы решим этот вопрос.

{{link-to 'Выбрать игры' 'games'}}
    {{/ember-markdown-section}}


  {{/if}}
{{/layout-main}}